<nav class="navbar bg-gradient-to-r from-pink-300 to-purple-300 rounded-b-2xl">
    <h1 class="text-3xl font-bold mr-20 cursor-pointer text-white"
        routerLink="/"
    >Game Hunter ⭐</h1>
    <form class="flex-1" (submit)="searchGame()">
        <input type="text" placeholder="Type here" 
        class="input input-bordered w-full max-w-xl" 
        name="searchGame"
        [(ngModel)]="search"
    
        />
        
        <button class="btn px-8 mx-4">Search</button>

    </form>
</nav>
